# Large files (not stored on GitHub)
data/archive
corpus/
lda/ # large .mm files 
doc2vec/ 
data/xml
data/metadata.csv
data/conversion_log.csv
docs
__pycache__

# Security 
config.ini
notebooks/archived/client_secrets.json

# Other
geckodriver.log
globals.p
results/notes.webloc
results/results.pdf
